<div class="container" ng-controller="MovieController">
  <div class="well">
    <img ng-src="{{view.movie.poster}}" class="img-thumbnail">
    <div class="row">
      <p class="text-right">{{view.movie.title}}</p>
    </div>
    <div class="row">
      <p class="text-right">{{view.movie.year}}</p>
    </div>
    <div class="row">
      <p class="text-right">{{view.movie.plot}}</p>
    </div>
    <div class="row">
      <p class="text-right">{{view.movie.imdbRating}}</p>
    </div>
  </div>
</div>
